<!DOCTYPE html>
<html>
<head>
  <title>Around Jazz</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css' rel='stylesheet' type='text/css'>
</head>
<body>
  <nav class="navbar">
    <div class="nav-logo" class="clearfix-after">
      <a href="www.aroundjazz.com"><img src="img/logo_w@2x.png" alt="어라운드 재즈 로고입니다"></a>
    </div>
    <div class="nav-share" class="clearfix-after">
      <a href="http://www.facebook.com/sharer/sharer.php?u=PAGE_URL"><img src="img/FB@2x.png" alt="페이스북 공유하기">공유</a>
    </div>
  </nav>
  <header class="detail-header">
    <h1>{{name}}</h1>
    <h2>재즈바 이름</h2>
  </header>
  <section class="info clearfix-after">
    <h1 class="col-one">Info</h1>
    <div class="col-two">
      <div class="address">
        <h2>Address</h2>
        <p>
          서울 특별시 어쩌구 망원동 409-10<a class="button clearfix-after" href="#">지도 보기</a>
        </p>
      </div>
      <div class="operation-time">
        <h2>Operation Time</h2>
        <p>
          평일: 09:00-23:00
          <br> 주말: 10:00-23:00
        </p>
      </div>
      <div class="fee">
        <h2>공연비</h2>
        <p>5,000원</p>
      </div>
      <div class="menu">
        <h2>Menu</h2>
        <p>
          수제 맥주 10,000원<br>
          와인 12,000원<br>
          칵테일 7,000원<br>
          프렌치후라이 5,000원<br>
          과일 10,000원
        </p>
      </div>
      <div class="sns">
        <h2>공식 SNS</h2>
        <img class="fb-sns" src="img/sns_fb@2x.png" alt="페이스북 공식 페이지">
        <img class="insta-sns" src="img/sns_insta@2x.png" alt="인스타그램 공식 페이지">
        <img class="tw-sns" src="img/sns_tw@2x.png" alt="트위터 공식 페이지">
      </div>
      <div class="phone">
        <h2>Contact</h2>
        <p>02-123-1234</p>
      </div>
    </div>
  </section>
  
  <section class="gallery">
    <h1>Gallery</h1>
    <a class="button option-button clearfix-after" href="#">크게 보기</a>
    <a href="#">
      <div class="wrapper">
        <img src="img/shutterstock_273685013.jpg">
      </div>
      <div class="wrapper">
        <img src="img/shutterstock_273685013.jpg">
      </div>
      <div class="wrapper last">
        <img src="img/shutterstock_273685013.jpg">
      </div>
    </a>
  </section>
  
  <section class="map">
    <h1>Map</h1>
    <a class="button option-button clearfix-after" href="#">크게 보기</a>
    <a href="#"><div class="naver-map">지도</div></a>
  </section>
  
  <footer>
    <img src="img/logo_black@2x.png">
    <a class="contact" href="#">Contact Us</a>
    <p class="copy">
      바쁜 일상 속 우리의 시간을 잠시나마 천천히 흐르게 해주는 재즈 음악이
      <br> 내 주위 가까운 곳에 있습니다.
    </p>
    <p class="years">Around Jazz © 2017</p>
  </footer>
</body>
</html>